* {
    margin: 0px;
    padding: 0px;
  }
body{
    /* background-image: url(/images/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product.jpg); */
    background-size:100%;
}
header{
    background-color: black;
    height: 80px;
}
#logo{
    margin-top: -1.1em;
}
.navigation{
    
    float: right;
    margin-right: 70px;
    margin-top: 32px;
}

.navigation a{
    color: black;
    border-radius: 100px;
    background-color: rgb(161, 240, 43);
    padding: 10px;
    text-decoration: none;
   
}

.navigation a:hover{
    color: white;
    background-color:rgb(136, 24, 136);
    transition: background-color 0.2s ease-in-out 0.01ms;
}
.aboutme{
    text-align: center;
    color: aliceblue;
    margin-top: 1.5em;
    font-size: 40px;
}
.title{
    color: aliceblue;
    font-size: 35px;
    float: left;
    margin-left:7em;
    margin-top: 13%;
}
.me{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 5em;
    text-align: justify;
    line-height: 1.5em;
    color:aliceblue;
    /* border: 2px solid white; */
    width: 50%;
    height: 16em;
    padding: 20px;
    margin-left: 13%;
    margin-top:20em;
    border-radius: 50px;
    /* background-color:black;   */
}
.me2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 5em;
    text-align: justify;
    line-height: 1.5em;
    color:aliceblue;
    /* border: 2px solid white; */
    width: 50%;
    height: 16em;
    padding: 20px;
    margin-left: 13%;
    margin-top:-11em;
    border-radius: 50px;
    /* background-color:black;   */
}

/* .img_bg{
    border: 2px solid red;
    float: right;
    margin-top: -18%;
    margin-right: 10em;
    
}
.img_bg:hover {
    margin-right: 11em;
    transition:margin-right 0.5s ease 5ms;

} */
.img_pic{
    position:none;
    width: 15%;
    float: right;
    margin-right: 14em;
    margin-top: -24%;
}
.img_pic:hover {
    margin-top: -25%;

    transition:margin-top 0.5s ease-in 5ms;
}

.footer{
    text-align: center;
    margin-top: 3.16em;
    color: aliceblue;
    background-color: black;
    height:2em;
    padding-top: 15px;
}